@-webkit-keyframes rotateIn {
    0% {
        -webkit-transform-origin: bottom;
        -webkit-transform: rotateX(90deg);
    }
    25% {
        -webkit-transform-origin: left;
        -webkit-transform: rotateY(-60deg);
    }
    90% {
        -webkit-transform-origin: right;
        -webkit-transform: rotateY(-20deg);
    }
    100% {
        -webkit-transform-origin: top;
        -webkit-transform: rotateX(0deg);
    }
}
@-webkit-keyframes rotateFall {
    0% {
        -webkit-transform: rotateZ(0deg);
    }
    20% {
        -webkit-transform: rotateZ(10deg);
        -webkit-animation-timing-function: ease-out;
    }
    40% {
        -webkit-transform: rotateZ(17deg);
    }
    60% {
        -webkit-transform: rotateZ(16deg);
    }
    100% {
        -webkit-transform: translateY(100%) rotateZ(17deg);
    }
}
@-webkit-keyframes slideOutLeft {
    to {
        -webkit-transform: translateX(-100%);
    }
}
@-webkit-keyframes slideInLeft {
    from{
        -webkit-transform: translateX(-100%);
    }
    to {
        -webkit-transform: translateX(0);
    }
}
@-webkit-keyframes rotateOutNewspaper {
    to {
        -webkit-transform: translateZ(-3000px) rotateZ(360deg);
        opacity: 0;
    }
}
@-webkit-keyframes scaleUp {
    from {
        opacity: 0;
        -webkit-transform: scale(0.8);
    }
}
@-webkit-keyframes scaleDown{
    to{
        opacity: 0;
        -webkit-transform:scale(0.8);
    }
}
@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(0);
    }
}
@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0);
    }
}
@-webkit-keyframes slideInDown {
    from {
        -webkit-transform: translateY(-50%);
    }
    to {
        -webkit-transform: translateY(0%);
    }
}
@-webkit-keyframes rotateDown{
    100% {
        -webkit-transform-origin: bottom;
        -webkit-transform: rotateX(0deg);
    }
    75% {
        -webkit-transform-origin: bottom;
        -webkit-transform: rotateX(60deg);
        -webkit-animation-timing-function: ease-out;
    }
    40% {
        -webkit-transform-origin: bottom;
        -webkit-transform: rotateX(40deg);
    }
    20% {
        -webkit-transform: translateY(20%);
    }
    0% {
        -webkit-transform: translateY(0)
    }
}
@-webkit-keyframes HideToShowToHide{
    0%{
        opacity: 0;
        -webkit-transform:scale(0.8);
        display: none;
    }
    50%{
        opacity:1;
        -webkit-transform:scale(1);
        display: block;
    }
    100%{
        opacity: 0;
        -webkit-transform:scale(0.8);
        display: none;
    }

}

.ng-enter {
    z-index: 8888;
}
.ng-leave {
    z-index: 9999;
}
.navbar-brand.ng-enter{
    -webkit-animation:scaleUp 0.5s both ease-in;
}
/*.blog_error{*/
    /*-webkit-animation:HideToShow 1s ease-in;*/
/*}*/
/*.blog_success{*/
    /*-webkit-animation:HideToShow 1s ease-in;*/
/*}*/
[ui-view].ng-enter{
    -webkit-animation:scaleUp 0.3s both ease-in;
}
[ui-view].ng-leave{
    -webkit-animation:scaleDown 0.3s both ease-in;
}