div.login-btn {
    position: absolute;
    top: 44px;
    left: 539px;
    cursor: pointer;
    color: transparent;
}

/*.text-editor {*/
    /*width: 700px;*/
    /*display: block;*/
    /*margin: auto;*/
    /*margin-bottom: 20px;*/
/*}*/

.text-editor .simditor-body {
    min-height: 660px;
}

.editor-title {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #c9d8db;
    outline: none;
    font-size: 16px;
    font-family: arial, sans-serif;
    line-height: 17px;
    color: #333;
}

.editor-header {
    margin-bottom: 20px;
    margin-top: 0px;
    text-align: center;
}

.editor-btn {
    margin-top: 20px;
}

.editor-category {
    border: 1px solid #c9d8db;
    font-size: 16px;
    font-family: arial, sans-serif;
    line-height: 1.6;
    color: #333;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    padding-left: 15px;
}
.editor-frame{
    background-color: #fff;
    padding: 20px;
}
.editor-span{
    width: 100%;
    float: left;
    text-align: center;
}