.passwordResetMention{
	width: 100%;
	height: 70px;
	padding: 10px;
	text-align: center;
}
.passwordResetMention .alert{
	float: left;
margin: auto;
width: 100%;
}
.jump-to-index{
    padding: 17px;
    float: left;
    cursor: pointer;
}