<ul class="login-gui">
    <li class="col-12" id="headboard">
        <div class="head">
            <img src="images/head.jpg" class="head-circle img-responsive" ng-click="transform()">
            <span class="head-panel">
                <div>{{$root.user.username+'已登录'}}<a href="javascript:void(0)" ng-click="signOut()">退出</a></div>
                <div>上次登录时间为{{$root.user.last_login_time | dateFormat}}</div></span>
        </div>
        <div class="mood">我就做个小博客玩玩☺</div>
    </li>
    <li>
        <form name="form" ng-submit="signIn()">
            <button type="button" class="btn btn-sm btn-default" ng-show="form.$invalid" ng-click="return()">返回</button>
            <div class="login-input">
                <div>
                    <i class="glyphicon glyphicon-user"></i><input type="text" id="username" autofocus placeholder="用户名" ng-model="username" required maxlength="20">
                </div>
                <div>
                    <i class="glyphicon glyphicon-lock" title="忘记密码" ng-click="forgetPwd()"></i>
                    <input type="{{pwd}}" placeholder="密码" ng-model="password" required maxlength="20">
                    <i class="glyphicon {{eyeIcon}}" title="{{mention}}" ng-click="eye()"></i>
                </div>
            </div>
            <span class="{{error}}">{{errorInfo}}</span>
            <button class="btn btn-sm btn-default" ng-hide="form.$invalid" type="submit">登录</button>
        </form>
    </li>
</ul>