<div class="articles-right">
    <div class="article" ng-repeat="a in articles track by $index">
        <header>
            <a ui-sref="app.articles.article_detail({page:currentPage,id:a._id})" title="{{a.title}}"><h4>{{a.title}}</h4></a>
            <a href="javascript:void(0)" ng-if="$root.user" class="hide-link" ng-click="edit(a._id)" title="编辑此文章"><i class="glyphicon glyphicon-edit"></i>编辑</a>
            <a href="javascript:void(0)" ng-if="$root.user" class="hide-link" ng-click="delete(a._id)" title="删除此文章"><i class="glyphicon glyphicon-remove-circle"></i>删除</a>
        </header>
        <footer>
            <span>文章分类：{{a.category}}</span>
            <span>发表时间：{{a.create_time | dateFormat}}</span>
            <span title="赞一个" class="article-favor" ng-click="favor(a)"><i class="glyphicon glyphicon-thumbs-up"></i> {{a.favor}}</span>
        </footer>
    </div>
</div>
<div class="articles-bottom">
    <div page list="articles" request="request" no-result="noResult" exec-search="execSearch" current-page="currentPage"></div>
</div>
