<div class="col-lg-3">
    <!--<div class="articles-left">-->
        <!--<div class="search"><i class="glyphicon glyphicon-search"></i><input type="text" placeholder="请输入要搜索的关键词" ng-model="key" ng-keydown="search($event)"></div>-->
    <div class="panel panel-default">
        <div class="panel-heading">
            当前日期
        </div>
        <div class="panel-body">
            <div id="datetimepicker4"></div>
            <script type="text/javascript">
                $(function() {
                    $('#datetimepicker4').datetimepicker({language: 'zh-CN'});
                    $('#datetimepicker4').datetimepicker('setDaysOfWeekDisabled',[0,1,2,3,4,5,6]);
                });
            </script>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            人气排行
        </div>
        <div class="panel-body">
            <ul>
                <li><a href="javascript:void(0)">AngularJs</a></li>
                <li><a href="javascript:void(0)">AngularJs</a></li>
                <li><a href="javascript:void(0)">AngularJs</a></li>
                <li><a href="javascript:void(0)">AngularJs</a></li>
                <li><a href="javascript:void(0)">AngularJs</a></li>
                <li><a href="javascript:void(0)">AngularJs</a></li>
                <li><a href="javascript:void(0)">AngularJs</a></li>
                <li><a href="javascript:void(0)">AngularJs</a></li>
                <li><a href="javascript:void(0)">AngularJs</a></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            文章时间分布
        </div>
        <div class="panel-body">
            <ul>
                <li><a href="javascript:void(0)">AngularJs -- 2015/04/22</a></li>
                <li><a href="javascript:void(0)">AngularJs -- 2015/04/22</a></li>
                <li><a href="javascript:void(0)">AngularJs -- 2015/04/22</a></li>
                <li><a href="javascript:void(0)">AngularJs -- 2015/04/22</a></li>
                <li><a href="javascript:void(0)">AngularJs -- 2015/04/22</a></li>
                <li><a href="javascript:void(0)">AngularJs -- 2015/04/22</a></li>
            </ul>
        </div>
    </div>
    <!--</div>-->
    <!--<div class="articles-left user-setting" ng-controller="trashCanCtrl">-->
        <!--<ul class="articles-left-list">-->
            <!--<li ng-repeat="a in articleUseless track by $index">{{a.title}}</li>-->
        <!--</ul>-->
    <!--</div>-->
</div>
<div ui-view class="col-lg-9"></div>

